@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html, body {
    margin: 0;
    height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%)) fixed;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.bg-ques{
    display: flex;
    width: fit-content;
    height: 520px;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    word-wrap: none;
    overflow: visible;
}

.bg-ques-child.img{
    height: 520px;
    width: 460px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: -500px -280px;
}

.women-desktop{
    position: relative;
    top: 85px;
    overflow: hidden;
}

.women-desktop > img{
    position: relative;
    right: 72px;
}

.box {
    height: 191px;
    width: 184px;
    position: relative;
    bottom: 140px;
    right: 92px;
}

.ques{
    margin-bottom: 10px;
    width: 27vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(237, 12%, 33%);
    font-size: 13px;

}

.ans{
    width: 26vw;
    color: hsl(240, 6%, 50%);
    padding-bottom: 5px;
}

.ques:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.bg-ques-child.quest {
    width: 27vw;
    margin-right: 35px;
}

h1{
    font-size: 32px;
    position: absolute;
    bottom: 500px;
}
.q-a{
    position: relative;
    top: 50px;
    width: 27vw;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

@media (max-width:1080px)  { 

    .bg-ques{
        display: flex;
        flex-direction: column;
        width: 350px;
        position: absolute;
    }
    .bg-ques-child.img{
        width: 300px;
        height: 300px;
        background-size: 300px 300px;
        background-position: 0px 0px;
        position: absolute;
        top: -185px;
    }
    .women-desktop{
        overflow: visible;
    }
    .women-desktop > img{
        position: relative;
        right: 0px;
        bottom: 40px;
        width: 300px;
    }
    .box{
        height: 105px;
        width: 105px;
        position: relative;
        bottom: 95px;
        right: 0px;
    }
    .box > img{
        width: 105px;
        height: 105px;
    }
    .bg-ques-child.quest{
        position: absolute;
        width: 300px;
        bottom: 40px;
        margin: auto;
    }
    h1{
        position: absolute;
        bottom: 270px;
        margin-left: 115px;
    }
    .ques{
        width: 300px;
    }
    .ans{
        width: 280px;
    }
    .q-a{
        width: 300px;
        position: relative;
        top: 10px; 
    }
 }
